!#include </home/blackrain/.xcolors/themes/neon>
Xcursor.theme: Maia-Cursor
URxvt.font: 9x15
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
!Xcursor.theme: Chameleon-Pearl-Regular-0.5
Xcursor.size:  0
URxvt.depth: 32
URxvt.background: [85]#000000
URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
!URxvt*background:                     S_base01
!URxvt*foreground:                     S_base0
URxvt*saveLines:                      5000


! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #2e3436
*.color8:       #555753

! red
*.color1:       #a31604
*.color9:       #c60001

! green
*.color2:       #447241
*.color10:      #27a343

! yellow
*.color3:       #c1951a
*.color11:      #d5a30e

! blue
*.color4:       #425387
*.color12:      #4a5a8d

! magenta
*.color5:       #965d98
*.color13:      #893c8c

! cyan
*.color6:       #06989a
*.color14:      #12bccb

! white
*.color7:       #d3d7cf
*.color15:      #eeeeec


! ------------------------------------------------------------------------------
!  ROFI Color theme
! ------------------------------------------------------------------------------
rofi.theme: /usr/share/rofi/themes//sidebar.rasi



